## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [3]:

pip install pymongo

import pymongo

client=pymongo.MongoClient("mongodb://localhost:27017/")
mydb=client["Unmessenger"]
collection=mydb.Internship
collection=mydb["Internship"]

students= [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]


collection.insert_many(students)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [11]:
query = {"math_score": {"$gt": 80}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66fd48c21f248aa72445b095'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [12]:
query = {"age": {"$lt": 23}}
for student in collection.find(query):
    print(student)

{'_id': ObjectId('66fd48c21f248aa72445b096'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66fd48c21f248aa72445b098'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [14]:
for student in collection.find({}, {"_id":0,"name": 1, "math_score": 1}):
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [15]:
query={"city":"New York"}
for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b095'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Bob' to 85.

In [16]:
collection.update_one({"name": "Bob"}, {"$set": {"physics_score": 85}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

7. Write a query to delete the student 'David' from the collection.

In [17]:
collection.delete_one({"name":"Rohit"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [19]:
query={"math_score": {"$gte":70, "$lte":90}}
for students in collection.find(query):
    print(query)

{'math_score': {'$gte': 70, '$lte': 90}}
{'math_score': {'$gte': 70, '$lte': 90}}
{'math_score': {'$gte': 70, '$lte': 90}}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [25]:
query = {"$expr": {"$gt": ["$math_score", "$physics_score"]}}
for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b096'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [39]:
math_score_by_descending_order = collection.find().sort("math_score", -1) 
for students in math_score_by_descending_order :
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66fd4bce1f248aa72445b09a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66fd48c21f248aa72445b096'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66fd48c21f248aa72445b099'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66fd48c21f248aa72445b098'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [46]:
pipeline=[
    {
        "$group": {
            "_id": None,
            "avg_math_score": {"$avg":"$math_score"}
        }
    }
]

avg_math_score=collection.aggregate(pipeline)

for avg in avg_math_score:
 print(avg)

{'_id': None, 'avg_math_score': 78.0}

12. Write a query to group students by 'city' and count the number of students in each city.

In [56]:
pipeline = [
    {
        "$group": {
            "_id": "$city",  
            "student_count": {"$sum": 1}  
        }
    }
]


students_by_city = collection.aggregate(pipeline)


for output in students_by_city:
    print(output)

{'_id': 'Phoenix', 'student_count': 1}
{'_id': 'Los Angeles', 'student_count': 1}
{'_id': 'Chicago', 'student_count': 1}
{'_id': 'Houston', 'student_count': 1}
{'_id': 'New York', 'student_count': 1}

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [57]:
query = {
    "$or": [
        
    
            {"math_score": {"$gt": 80}},
            {"physics_score": {"$gt": 85}}
        ]}
    

for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66fd4bce1f248aa72445b09a'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [68]:
query = {
    "age": 23,
    "city": "Phoenix"
}

for student in collection.find(query):
    print(student)

{'_id': ObjectId('66fd48c21f248aa72445b099'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [69]:
query= {
    "math_score": {"$ne": 85}
}

for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b096'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66fd48c21f248aa72445b098'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66fd48c21f248aa72445b099'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [72]:
query={
    "name": {"$regex":"^A"}
}

for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd4bce1f248aa72445b09a'), 'name': 'Anit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [73]:
query={
    "city": {"$nin":["New York", "Los Angeles"]}
}

for students in collection.find(query):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66fd48c21f248aa72445b098'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66fd48c21f248aa72445b099'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [75]:
query={ "age": {"$gt": 22}}

update= {"$set": {"graduated": True}}

updation=collection.update_many(query, update)

print("Updated all student",updation)

Updated all student UpdateResult({'n': 3, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [77]:
query={"city": "Chicago"}

update= {"$unset": {"Physics_score": ""}}

updation= collection.update_many(query, update)

print("Remove Physics score who live in Chicago",updation)

Remove Physics score who live in Chicago UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

20. Write a query to find the student with the highest 'math_score'.

In [82]:
pipeline = [
    {
        "$sort": {"math_score": -1}    
    },

    {
        "$limit": 1
    }
]


for students in collection.aggregate(pipeline):
    print(students)

{'_id': ObjectId('66fd48c21f248aa72445b097'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago', 'graduated': True}